.project{
    width: 100%;
    height: 25rem;
    /* border: 2px solid red; */
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
    z-index: 1;  
}
.project-title{
    text-align: center;
    /* border: 2px solid red; */

}
.project-img{
    /* border: 2px solid yellow; */
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
     
}
.fruit-shop{
    height: 20rem;
    width: 30rem;
    /* border: 2px solid red; */
    

}
.fruit-shop img{
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    border-radius: 5rem;
    /* border: 2px solid red; */
}
.login-page{
    height: 20rem;
    width: 30rem;
    /* border: 2px solid red; */
     
    
}
.login-page img{
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    border-radius: 5rem;
    /* border: 2px solid red; */
}
.registration{
    height: 20rem;
    width: 30rem;
    /* border: 2px solid red; */
     

}
.registration img{
    width: 20rem;
    height: 20rem;
    object-fit: contain;
    border-radius: 5rem;
    /* border: 2px solid red; */
}

@media (max-width: 1200px) {
    .project{
        width: 100%;
        height: 25rem;
        /* border: 2px solid red; */
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .project-title{
        text-align: center;
        /* border: 2px solid red; */
    
    }
    .project-img{
        /* border: 2px solid yellow; */
        height: 20rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;   
    }
    .fruit-shop{
        height: 20rem;
        width: 30rem;
        /* border: 2px solid red; */
    
    }
    .fruit-shop img{
        width: 20rem;
        height: 20rem;
        object-fit: contain;
        border-radius: 5rem;
        /* border: 2px solid red; */
    }
    .login-page{
        height: 20rem;
        width: 30rem;
        /* border: 2px solid red; */
        
    }
    .login-page img{
        width: 20rem;
        height: 20rem;
        object-fit: contain;
        border-radius: 5rem;
        /* border: 2px solid red; */
    }
    .registration{
        height: 20rem;
        width: 30rem;
        /* border: 2px solid red; */
    
    }
    .registration img{
        width: 20rem;
        height: 20rem;
        object-fit: contain;
        border-radius: 5rem;
        /* border: 2px solid red; */
    }
}
@media (max-width: 1024px) {}
@media (max-width: 896px) {}
@media (max-width: 780px) {}
@media (max-width: 768px) {
    .project{
        width: 100%;
        height: 60rem;
        /* border: 2px solid red; */
        margin-bottom: 1rem;
        display: flexbox;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        }
        .project-title{
            text-align: center;
            /* border: 2px solid red; */
            
            }
            
            .project-img{
                /* border: 2px solid yellow; */
                height: 50rem;
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .fruit-shop{
        height: 15rem;
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    
    }
    .fruit-shop img{
        width: 15rem;
        height: 20rem;
        object-fit: contain;
        border-radius: 5rem;
        /* border: 2px solid red; */
    }
    .login-page{
        height: 15rem;
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        
    }
    .login-page img{
        width: 15rem;
        height: 20rem;
        object-fit: contain;
        border-radius: 5rem;
        /* border: 2px solid red; */
    }
    .registration{
        height: 15rem;
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
    
    }
    .registration img{
        width: 15rem;
        height: 20rem;
        object-fit: contain;
        border-radius: 5rem;
        /* border: 2px solid red; */
    }
}
@media (max-width: 580px) {}
@media (max-width: 450px) {}
@media (max-width: 365px) {}
