.profile{
    height: 30rem;
    margin-top: 3rem;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    
}
.left{
    height: 30rem;
    width: 50vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.para{
    /* border: 2px solid red; */
    margin-top: 1.5rem;
    font-size: 1.2rem;
    width: 30rem;

}
.para p{
    /* color: aqua; */
}
.name{
display: flex;
gap: 1rem;
}
.nameh2{
    color: aqua;
}
h2{
    font-size: 2rem;
    font-weight: 600;
}
.image{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
   
}
.myimg{
    width: 25rem;
    height: 25rem;
    border-radius: 50rem;
    object-fit: cover;
}

/* .......Responsive.... */

@media (max-width: 1200px) {
    .profile{
        height: 29rem;
        /* border: 2px solid red; */

    }
    .left{
        height: 29rem;
        width: 50%;
        /* border: 2px solid red; */
        
    }
    .para{
        /* border: 2px solid red; */
        margin-top: 1.5rem;
        font-size: 1.2rem;
        width: 29rem;
    
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 2rem;
        font-weight: 600;
    }
    .image{
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
    .myimg{
        width: 24rem;
        height: 24rem;
    }
}
@media (max-width: 1100px) {
    .profile{
        height: 28rem;
    }
    .left{
        height: 28rem;
        width: 50%;        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        width: 28rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.9rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
    }
    .myimg{
        width: 23rem;
        height: 23rem;
    }
}
@media (max-width: 1024px) {
    .profile{
        height: 27rem;
    }
    .left{
        height: 27rem;
        width: 50%;        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        width: 27rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
    }
    .myimg{
        width: 22rem;
        height: 22rem;
    }
}
@media (max-width: 991px) {
    .profile{
        height: 26rem;
    }
    .left{
        height: 26rem;
        width: 50%;        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        width: 26rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.7rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 460px;
    }
    .myimg{
        width: 21rem;
        height: 21rem;
    }
}
@media (max-width: 896px) {
    .profile{
        height: 25rem;
    }
    .left{
        height: 25rem;
        width: 50%;        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        width: 26rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.6rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
    }
    .myimg{
        width: 20rem;
        height: 20rem;
    }
}
@media (max-width: 879px) {
    .profile{
        height: 24rem;
    }
    .left{
        height: 24rem;
        width: 50%;        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        width: 25rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 440px;
    }
    .myimg{
        width: 19.5rem;
        height: 19.5rem;
    }

}
@media (max-width: 780px) {
    .profile{
        height: 23rem;
    }
    .left{
        height: 23rem;
        width: 50%;        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1.1rem;
        width: 24rem;
        margin-left: .50rem;

    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 430px;
    }
    .myimg{
        width: 19rem;
        height: 19rem;
    }
}
@media (max-width: 768px) {
    .profile{
        height: 22rem;
    }
    .left{
        height: 22rem;
        width: 50%;
        /* border: 2px solid red;        */
        
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1rem;
        width: 23rem;
        margin-left: .50rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.35rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 420px;
    }
    .myimg{
        width: 16rem;
        height: 16rem;
    }
}
@media (max-width: 580px) {
    .profile{
        height: 21rem;
        display: grid;
        justify-content: center;    
    }
    .left{
        height: 21rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .para{
        margin-top: 1.5rem;
        font-size: 1rem;
        width: 23rem;
        /* border: 2px solid red; */
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin-top: 1rem;
    }
    .myimg{
        width: 17rem;
        height: 17rem;
    }
}
@media (max-width: 450px) {
    .profile{
        height: 21rem;
    }
    .left{
        height: 21rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;         
    }
    .para{
        margin-top: 1rem;
        font-size: .95rem;
        width: 15rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.30rem;
        font-weight: 600;
    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        object-fit: cover;
        opacity: 1;
        image-rendering: crisp-edges;
        /* border: 2px solid white; */
    }
    .myimg{
        width: 19rem;
        height: 18rem;
    }
}
@media (max-width: 365px) {
    .profile{
        height: 20rem;
        display: grid;
    }
    .left{
        height: 20rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;         
    }
    .para{
        margin-top: 1rem;
        font-size: .95rem;
        width: 15rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.50rem;
        font-weight: 600;
    }
   
}
@media (max-width: 315px) {
    .profile{
        height: 19rem;
        display: grid;
    }
    .left{
        height: 19rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;         
    }
    .para{
        margin-top: 1rem;
        font-size: .95rem;
        width: 10rem;
    }

    .name{
    display: flex;
    gap: 1rem;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
   
}